/* Фоном страницы стал цвет 2000 года - начало традиции объявления цвета года :) 
PANTONE 15-4020 Cerulean (Лазурный) называли «Цветом тысячелетия», 
потому что он отражает чувство покоя, удовлетворения и надежды на будущее. 
Лазурный цвет отражает цвет неба в безмятежный, 
кристально чистый день и производит идеальный успокаивающий эффект.
*/

.page {
  width: 100vw;
  height: 100vh;
  background-color: #9BB7D4;
  display: inline-flex;
  flex-direction: column;
}